@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.container {
	position: fixed;

	z-index: 4;

	width: 100%;

	@include mobile {
		position: static;
		background-color: $light-gray;
	}

	& > div {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 20px 2.5rem;

		@include mobile {
			padding: 20px 1.5rem;
		}

		// margin-bottom: -76px;

		.container_logo {

			width: 136px;
			height: 22px;

			@include mobile {
				position: relative;
				z-index: 5;

				width: 80px;
			}

			svg {
				width: 100%;
				height: 100%;
			}

		}

		.container_actions {
			display: flex;
			align-items: center;
			gap: 3rem;
		}
	}
}
